# Assignment number 1: Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

In [2]:
page1=requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [3]:
soup1=BeautifulSoup(page1.content,'html.parser')

In [4]:
Titles=[]

In [5]:
titles=soup1.find_all(['h1', 'h2','h3'])
titles

[<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 id="p-lang-label">
 <span>Languages</span>
 </h3>]

In [6]:
for i in titles:
   
    Titles.append(i.get_text().replace("\n",""))
Titles

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [7]:
print(len(Titles))

23

In [8]:
import pandas as pd
Wiki_Header_Tags=pd.DataFrame([])
Wiki_Header_Tags['Titles']=Titles

In [9]:
Wiki_Header_Tags

                           Titles
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5      From today's featured list
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                 Personal tools
12                     Namespaces
13                       Variants
14                          Views
15                           More
16                         Search
17                     Navigation
18                     Contribute
19                          Tools
20                   Print/export
21              In other projects
22                      Languages

In [10]:
Wiki_Header_Tags.to_csv("wiki_all_header_tags.csv")

# Assignment no. 2- Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [11]:
page2=requests.get("https://www.imdb.com/chart/top/")

In [12]:
soup2=BeautifulSoup(page2.content,'html.parser')

In [13]:
Movie_Name=[]
IMDB_Rating=[]
Year_of_Release=[]

In [14]:
titles2=soup2.find_all('td',class_="titleColumn")
for i in titles2:
        full_name=i.find('a').get_text()
        Movie_Name.append(full_name)

In [15]:
Movie_Name[0:5]

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men']

In [16]:
len(Movie_Name)

250

In [17]:
ratings=soup2.find_all('td',class_="ratingColumn imdbRating")
ratings

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,335,648 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.1 based on 1,614,741 user ratings">9.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,126,542 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,296,536 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 687,477 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,210,122 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,638,479 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,821,013 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 686,572 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,656,772 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,849,349 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,803,084 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,060,467 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,481,652 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,156,323 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,671,493 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,017,239 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 915,594 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 314,902 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,440,358 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 621,731 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 697,748 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,266,416 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 404,450 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,228,487 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,232,198 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 648,453 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,143,945 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,505,857 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 543,676 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,032,150 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 41,508 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 988,780 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 939,187 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 727,145 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,054,927 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 993,288 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,032,360 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 217,157 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 602,587 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,337,820 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 167,310 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,186,061 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 756,895 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 714,420 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 234,176 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,186,518 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 302,063 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 520,789 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 229,906 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 442,951 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 785,857 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 604,781 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 53,753 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,122,883 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 202,538 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 882,213 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,353,202 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 357,737 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 931,079 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 177,518 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 997,014 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 895,681 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 829,634 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 201,021 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 108,469 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 513,768 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 341,836 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 371,849 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 449,355 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,512,594 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 310,298 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 651,443 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 192,992 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 380,496 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 802,253 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,067,454 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 957,179 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 231,269 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 343,134 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 885,020 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 61,628 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 33,994 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 368,156 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,263,386 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 948,150 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 168,125 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 858,900 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 916,079 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 601,993 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 764,798 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 363,353 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 143,000 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 280,057 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 909,488 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 402,032 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 155,588 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 673,509 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 145,891 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 218,338 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 112,821 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 298,437 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 780,173 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 756,152 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 419,326 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 738,777 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 68,139 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 58,535 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 722,287 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 267,407 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 755,237 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 702,281 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 219,288 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 240,998 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 149,183 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 159,590 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 232,090 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 163,858 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 143,126 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 293,243 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 933,039 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 690,913 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 575,208 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 530,777 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 791,524 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 373,571 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 499,912 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 110,830 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,305,184 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 152,084 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 330,585 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 65,002 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 374,964 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 112,153 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 243,325 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 332,360 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 120,265 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 464,831 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 846,545 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 224,188 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,180,600 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 617,390 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 192,551 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 515,695 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 534,041 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 289,755 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 321,008 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 69,251 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 114,011 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 157,807 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 429,970 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,125,704 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 100,690 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 293,369 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 78,607 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 854,048 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,030,510 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 613,494 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 164,295 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 219,432 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 370,275 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 435,010 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 909,813 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 633,430 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 865,508 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 103,264 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 936,255 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 289,406 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 947,415 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 95,961 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 692,210 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 116,397 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 997,927 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 138,290 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 30,041 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 203,020 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 615,851 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 369,760 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 158,345 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 719,048 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 176,387 user ratings">8.1</strong>
 </td>,

In [18]:
for i in ratings:
    IMDB_Rating.append(i.get_text().replace("\n"," "))
IMDB_Rating

[' 9.2 ',
 ' 9.1 ',
 ' 9.0 ',
 ' 9.0 ',
 ' 8.9 ',
 ' 8.9 ',
 ' 8.9 ',
 ' 8.8 ',
 ' 8.8 ',
 ' 8.8 ',
 ' 8.8 ',
 ' 8.8 ',
 ' 8.7 ',
 ' 8.7 ',
 ' 8.7 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.6 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ']

In [19]:
len(IMDB_Rating)

250

In [20]:
year_of_release=soup2.find_all('span',class_="secondaryInfo")
year_of_release

[<span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1972)</span>,
 <span class="secondaryInfo">(1974)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1990)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1946)</span>,
 <span class="secondaryInfo">(1977)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1936)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1931)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(1942)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1940)</span>,
 <span class="secondaryInfo">(1981)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1981)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1963)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1958)</span>,
 <span class="secondaryInfo">(1931)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1941)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(1948)</span>,
 <span class="secondaryInfo">(1952)</span>,
 <span class="secondaryInfo">(1921)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(1952)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1973)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(1927)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(1944)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1961)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1963)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1961)</span>,
 <span class="secondaryInfo">(1948)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(1925)</span>,
 <span class="secondaryInfo">(1974)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1939)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1949)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1953)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1924)</span>,
 <span class="secondaryInfo">(1942)</span>,
 <span class="secondaryInfo">(1926)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1939)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1967)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1953)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1928)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(1940)</span>,
 <span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1934)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1997)</span>]

In [21]:
for i in year_of_release:
    Year_of_Release.append(i.get_text().replace("\n"," "))
Year_of_Release

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(1997)',
 '(2002)',
 '(1991)',
 '(1946)',
 '(1977)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(2014)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(1995)',
 '(1994)',
 '(2002)',
 '(1985)',
 '(1991)',
 '(1998)',
 '(1936)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2011)',
 '(2014)',
 '(1988)',
 '(2006)',
 '(1968)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1979)',
 '(1979)',
 '(2020)',
 '(2000)',
 '(1940)',
 '(1981)',
 '(2012)',
 '(2006)',
 '(2019)',
 '(1957)',
 '(2008)',
 '(1980)',
 '(2018)',
 '(1950)',
 '(1957)',
 '(2003)',
 '(1997)',
 '(2018)',
 '(1964)',
 '(2012)',
 '(1984)',
 '(1986)',
 '(2016)',
 '(2017)',
 '(2019)',
 '(1999)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(1995)',
 '(2018)',
 '(1963)',
 '(1984)',
 '(2009)',
 '(1983)',
 '(2007)',
 '(1997)',
 '(1992)',
 '(1968)',
 '(2000)',
 '(1958)',
 '(1931)',
 '(2012)',
 '(2004)',
 '(1941)',
 '(2016)',
 '(1987)',
 '(1948)',
 '(1952)',
 '(1921)',
 '(1959)',
 '(2000)',
 '(1971)',
 '(2019)',
 '(1983)',
 '(1952)',
 '(1985)',
 '(1976)',
 '(1962)',
 '(2010)',
 '(2001)',
 '(2011)',
 '(1973)',
 '(2010)',
 '(1927)',
 '(1965)',
 '(1960)',
 '(1944)',
 '(1962)',
 '(2009)',
 '(1989)',
 '(1995)',
 '(1997)',
 '(1988)',
 '(2018)',
 '(1975)',
 '(1961)',
 '(2005)',
 '(1950)',
 '(2004)',
 '(1997)',
 '(1992)',
 '(1985)',
 '(1959)',
 '(2004)',
 '(1950)',
 '(1995)',
 '(2001)',
 '(1963)',
 '(2013)',
 '(2006)',
 '(2009)',
 '(2007)',
 '(1998)',
 '(1988)',
 '(1980)',
 '(1961)',
 '(1948)',
 '(1954)',
 '(2017)',
 '(2010)',
 '(1925)',
 '(1974)',
 '(2005)',
 '(2007)',
 '(2005)',
 '(2015)',
 '(1957)',
 '(1980)',
 '(1982)',
 '(2011)',
 '(1999)',
 '(1996)',
 '(1993)',
 '(2019)',
 '(1998)',
 '(1939)',
 '(2003)',
 '(1957)',
 '(1982)',
 '(1979)',
 '(2003)',
 '(2003)',
 '(1971)',
 '(1957)',
 '(1996)',
 '(2015)',
 '(1949)',
 '(2008)',
 '(2014)',
 '(1954)',
 '(1953)',
 '(1978)',
 '(1993)',
 '(2009)',
 '(2020)',
 '(2014)',
 '(2014)',
 '(1995)',
 '(2002)',
 '(2016)',
 '(1978)',
 '(1966)',
 '(2018)',
 '(2013)',
 '(1998)',
 '(1924)',
 '(1942)',
 '(1926)',
 '(2010)',
 '(2019)',
 '(1975)',
 '(1996)',
 '(2013)',
 '(1939)',
 '(2015)',
 '(2004)',
 '(1989)',
 '(1976)',
 '(1986)',
 '(2011)',
 '(1959)',
 '(1967)',
 '(2009)',
 '(1986)',
 '(2016)',
 '(2017)',
 '(2007)',
 '(1953)',
 '(2013)',
 '(1988)',
 '(1979)',
 '(1959)',
 '(1995)',
 '(2015)',
 '(1928)',
 '(2004)',
 '(2000)',
 '(1966)',
 '(2012)',
 '(1976)',
 '(2001)',
 '(1984)',
 '(1940)',
 '(1955)',
 '(2006)',
 '(2004)',
 '(2000)',
 '(1984)',
 '(2019)',
 '(1934)',
 '(2016)',
 '(2015)',
 '(2011)',
 '(1966)',
 '(2013)',
 '(1987)',
 '(2016)',
 '(1997)']

In [22]:
len(Year_of_Release)

250

In [23]:
print(len(Movie_Name),len(IMDB_Rating),len(Year_of_Release))

250 250 250

In [24]:
import pandas as pd
movies=pd.DataFrame([])
movies['Movie_Name']=Movie_Name[0:100]
movies['IMDB_Rating']=IMDB_Rating[0:100]
movies['Year_of_Release']=Year_of_Release[0:100]

In [25]:
movies

                  Movie_Name IMDB_Rating Year_of_Release
0   The Shawshank Redemption        9.2           (1994)
1              The Godfather        9.1           (1972)
2     The Godfather: Part II        9.0           (1974)
3            The Dark Knight        9.0           (2008)
4               12 Angry Men        8.9           (1957)
..                       ...         ...             ...
95              Citizen Kane        8.3           (1941)
96                    Dangal        8.3           (2016)
97         Full Metal Jacket        8.2           (1987)
98       Ladri di biciclette        8.2           (1948)
99       Singin' in the Rain        8.2           (1952)

[100 rows x 3 columns]

In [26]:
movies.to_csv("Top_100_Hollywood_Movies_list_IMDB.csv")

# Assignment no. 3- Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [27]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [28]:
soup=BeautifulSoup(page.content,'html.parser')

In [29]:
Movie_Name=[]
IMDB_Rating=[]
Year_of_Release=[]

In [30]:
titles2=soup.find_all('td',class_="titleColumn")
for i in titles2:
        full_name=i.find('a').get_text()
        Movie_Name.append(full_name)

In [31]:
ratings=soup.find_all('td',class_="ratingColumn imdbRating")
ratings

[<td class="ratingColumn imdbRating">
 <strong title="8.5 based on 23,390 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 23,945 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 17,934 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 16,189 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 16,687 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 11,995 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 5,188 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 5,803 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 8,575 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 18,822 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 8,459 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 5,373 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 18,768 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 8,797 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 343,134 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 168,125 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,520 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 155,588 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 30,041 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 10,031 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 11,597 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,160 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 10,679 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 28,018 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,503 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,393 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,425 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,599 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,689 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 8,067 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,591 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,850 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 53,413 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 30,632 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 22,218 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,864 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,456 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 9,590 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 27,422 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 71,226 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,604 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 9,686 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,584 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,989 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,347 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,399 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 15,184 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 16,349 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,899 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,412 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 14,410 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 81,986 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,788 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,156 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 31,031 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,154 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 60,981 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 82,835 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,650 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 56,863 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 51,197 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 69,945 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,154 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,302 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,907 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 21,615 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,353 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,086 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,306 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 111,650 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,658 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 60,578 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 42,265 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 23,292 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 67,678 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,758 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 66,640 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,803 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 23,919 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 49,205 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 23,626 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 51,569 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,655 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 104,779 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,705 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,089 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 57,672 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,239 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 162,388 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,767 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 43,210 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,858 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 39,051 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 75,557 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,742 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 8,550 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,476 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,520 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,285 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 19,157 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,701 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 43,037 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,087 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,652 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 33,526 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 75,052 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 63,363 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 13,908 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,217 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 50,354 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,838 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 31,682 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 8,537 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,119 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,028 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,615 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 50,939 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 28,701 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 18,687 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,125 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 27,838 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,671 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 72,031 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 12,638 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,758 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 14,493 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 20,916 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,144 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,532 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,032 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,930 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 36,069 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 17,738 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 110,866 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,902 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 98,345 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 63,297 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 47,613 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,800 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,961 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,202 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,156 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 13,873 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 102,672 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 20,669 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,678 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 20,812 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 52,810 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 6,687 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 52,753 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 11,461 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 7,836 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 33,523 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 15,680 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,476 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 50,379 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,171 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 23,277 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 11,507 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 9,931 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 20,674 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 22,260 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 8,528 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 25,207 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 14,319 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 39,624 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 14,065 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 27,107 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 12,636 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 11,277 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 6,237 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 20,818 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 6,032 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 48,919 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 12,413 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 7,525 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 5,993 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 21,956 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 5,248 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 5,532 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 16,277 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 7,911 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.7 based on 40,191 user ratings">7.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">

In [32]:
for i in ratings:
    IMDB_Rating.append(i.get_text().replace("\n"," "))
IMDB_Rating

[' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.5 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.4 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.3 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.2 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.1 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 8.0 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.9 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.8 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.7 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.6 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.5 ',
 ' 7.4 ',
 ' 7.4 ',
 ' 7.4 ']

In [33]:
year_of_release=soup.find_all('span',class_="secondaryInfo")
year_of_release

[<span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1956)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1958)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1990)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>]

In [34]:
for i in year_of_release:
    Year_of_Release.append(i.get_text().replace("\n"," "))
Year_of_Release

['(1955)',
 '(2018)',
 '(1979)',
 '(1987)',
 '(2003)',
 '(1959)',
 '(2016)',
 '(1989)',
 '(2018)',
 '(2004)',
 '(1993)',
 '(1992)',
 '(2018)',
 '(2019)',
 '(2009)',
 '(2007)',
 '(2015)',
 '(2016)',
 '(1971)',
 '(1991)',
 '(1956)',
 '(1983)',
 '(2019)',
 '(2017)',
 '(1957)',
 '(1965)',
 '(2002)',
 '(1975)',
 '(2019)',
 '(2019)',
 '(2015)',
 '(2018)',
 '(2020)',
 '(2013)',
 '(2006)',
 '(2016)',
 '(2018)',
 '(2019)',
 '(2018)',
 '(2018)',
 '(2019)',
 '(2018)',
 '(2014)',
 '(2015)',
 '(2016)',
 '(1998)',
 '(2012)',
 '(2014)',
 '(2013)',
 '(1999)',
 '(2005)',
 '(2012)',
 '(2015)',
 '(2014)',
 '(2015)',
 '(2012)',
 '(2013)',
 '(2004)',
 '(2015)',
 '(2000)',
 '(1975)',
 '(2015)',
 '(2003)',
 '(2005)',
 '(2007)',
 '(1992)',
 '(2016)',
 '(1964)',
 '(1960)',
 '(2006)',
 '(2012)',
 '(2013)',
 '(2010)',
 '(2019)',
 '(2011)',
 '(2008)',
 '(2001)',
 '(2003)',
 '(1999)',
 '(1994)',
 '(2015)',
 '(2012)',
 '(1992)',
 '(2001)',
 '(2016)',
 '(2017)',
 '(2012)',
 '(2000)',
 '(2014)',
 '(1995)',
 '(2018)',
 '(2005)',
 '(2016)',
 '(2012)',
 '(2002)',
 '(2006)',
 '(2013)',
 '(2003)',
 '(1995)',
 '(2006)',
 '(2019)',
 '(2006)',
 '(1975)',
 '(1996)',
 '(2019)',
 '(2017)',
 '(1995)',
 '(2009)',
 '(1968)',
 '(2014)',
 '(2016)',
 '(2019)',
 '(1957)',
 '(2013)',
 '(2005)',
 '(1999)',
 '(2013)',
 '(2009)',
 '(2018)',
 '(1958)',
 '(2018)',
 '(2012)',
 '(2015)',
 '(1999)',
 '(2014)',
 '(2002)',
 '(2017)',
 '(2013)',
 '(2017)',
 '(2008)',
 '(2010)',
 '(2018)',
 '(2015)',
 '(2020)',
 '(2012)',
 '(2010)',
 '(2003)',
 '(2007)',
 '(2013)',
 '(2013)',
 '(2009)',
 '(2018)',
 '(1997)',
 '(2015)',
 '(2004)',
 '(2006)',
 '(2019)',
 '(2016)',
 '(2006)',
 '(2015)',
 '(2000)',
 '(2015)',
 '(2012)',
 '(2003)',
 '(2003)',
 '(2013)',
 '(2004)',
 '(2017)',
 '(2007)',
 '(2014)',
 '(2017)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(2001)',
 '(2012)',
 '(1987)',
 '(2016)',
 '(2006)',
 '(1978)',
 '(2011)',
 '(2008)',
 '(2008)',
 '(2004)',
 '(2015)',
 '(2001)',
 '(2015)',
 '(2007)',
 '(2004)',
 '(2014)',
 '(2008)',
 '(2018)',
 '(2016)',
 '(2008)',
 '(2013)',
 '(2016)',
 '(2011)',
 '(2008)',
 '(2012)',
 '(1994)',
 '(1993)',
 '(2017)',
 '(2016)',
 '(2014)',
 '(1998)',
 '(2013)',
 '(1990)',
 '(2011)',
 '(2005)',
 '(2016)',
 '(2007)',
 '(2019)',
 '(2014)',
 '(2012)',
 '(2007)',
 '(2015)',
 '(2009)',
 '(1993)',
 '(2015)',
 '(2016)',
 '(2009)',
 '(2015)',
 '(2019)',
 '(2014)',
 '(2020)',
 '(1998)',
 '(2018)',
 '(2014)',
 '(2016)',
 '(2011)',
 '(2018)',
 '(2002)',
 '(2008)',
 '(2020)',
 '(2018)',
 '(2013)',
 '(2016)',
 '(1998)',
 '(2004)',
 '(2009)',
 '(2018)',
 '(2003)',
 '(2010)',
 '(2016)',
 '(2018)',
 '(2001)',
 '(2013)',
 '(2019)',
 '(2017)',
 '(2004)',
 '(2017)',
 '(2018)',
 '(2010)',
 '(2005)',
 '(1988)',
 '(2015)',
 '(2019)',
 '(2007)',
 '(2018)',
 '(2018)']

In [35]:
import pandas as pd
movies=pd.DataFrame([])
movies['Movie_Name']=Movie_Name[0:100]
movies['IMDB_Rating']=IMDB_Rating[0:100]
movies['Year_of_Release']=Year_of_Release[0:100]

In [36]:
movies

         Movie_Name IMDB_Rating Year_of_Release
0   Pather Panchali        8.5           (1955)
1          Ratsasan        8.5           (2018)
2          Gol Maal        8.5           (1979)
3           Nayakan        8.5           (1987)
4        Anbe Sivam        8.5           (2003)
..              ...         ...             ...
95       Bommarillu        8.0           (2006)
96            Lucia        8.0           (2013)
97          Maqbool        8.0           (2003)
98           Bombay        8.0           (1995)
99           Omkara        8.0           (2006)

[100 rows x 3 columns]

In [37]:
movies.to_csv("Top_100_Bollywood_Movies_list_IMDB.csv")

# Assignment no. 4- Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’¶

In [38]:
page2=requests.get("https://bookpage.com/reviews")

In [39]:
soup2=BeautifulSoup(page2.content,'html.parser')

In [40]:
Book_Name=[]
Author_Name=[]
Genre=[]
Book_Review=[]

In [41]:
book_name=soup2.find_all('h4',class_="italic")
for i in book_name:
        full_name=i.find('a').get_text()
        Book_Name.append(full_name)

In [42]:
author_name=soup2.find_all('p', class_="sans bold")

In [43]:
for i in author_name:
   
    Author_Name.append(i.get_text().replace("\n",""))
Author_Name

['Sarah Moss',
 'Kristin Cashore',
 'B. B. Alston',
 'James Oakes',
 'Viola Ardone, Clarissa Botsford',
 'Jennifer L. Holm',
 "Liese O'Halloran Schwarz",
 'Nadia Owusu',
 'Mateo Askaripour',
 'Cathy Bonidan, Emma Ramadan']

In [44]:
genre=soup2.find_all('p', class_="genre-links hidden-phone")

In [45]:
for i in genre:
   
    Genre.append(i.get_text().replace("\n",""))
Genre

['Fiction / Literary Fiction',
 'YA / YA Fiction',
 "Children's / Middle Grade",
 'Nonfiction / History / American History',
 'Fiction / Historical Fiction',
 "Children's / Middle Grade",
 'Fiction / Family Saga',
 'Nonfiction / Biography & Memoir / Memoir',
 'Fiction / Satirical Fiction',
 'Fiction / Popular Fiction']

In [46]:
book_review=soup2.find_all('p', class_="excerpt")

In [47]:
for i in book_review:
   
    Book_Review.append(i.get_text().replace("\n",""))
Book_Review

['Gabriel García Márquez once wrote, “Everyone has three lives: a private life, a public life, and a secret life.” It’s the latter of these we see on full display in British author Sarah Moss’ slender yet weighty Summerwater.',
 'Fans of Kristin Cashore’s previous books set in the fantastical world of the Seven Realms (Graceling, Fire and Bitterblue) will pick up Winterkeep with certain expectations. Breathe a sigh of relief now: Winterkeep does not disappoint.',
 'Things are not going well for Amari Peters. Her scholarship to tony Jefferson Academy is being revoked on the last day of school because she shoved a classmate after being subjected to continuous bullying. And as if she didn’t have enough to worry about, her older brother, Quinton, has been...',
 'The Crooked Path to Abolition is richly rewarding and helps us see the full context of political decisions that put slavery, as Lincoln said, on “a course of ultimate extinction.”',
 'The displacement of children is a vexing problem in international and national politics. Italian author Viola Ardone’s novel explores issues surrounding children who are separated from their parents, but in this case, the families willingly send their youngsters away to live in the care of...',
 'In the year 2091, millions of miles away from Earth, 11-year-old Bell and a handful of other kids are growing up on Mars. Sent there as orphaned infants, they have never known another life, another home or another family. Along with several adults, they make up the American settlement, where...',
 'At the heart of family novels there’s often a secret, and how that secret plays out in family dynamics forms the heart of the story. Liese O’Halloran Schwarz’s third novel is no exception, with several secrets reverberating from the past.',
 'Aftershocks is an intimate work told in an imaginative style, with the events that shaped its author rippling throughout her nonlinear story.',
 'In his debut novel, Mateo Askaripour offers a witty yet thrilling examination of the complexities of race in corporate America.',
 'If you’re the type of reader who self-soothes by losing yourself in a book and are in need of a potent comfort read, French author Cathy Bonidan’s English-language debut novel is just what the doctor ordered.']

In [48]:
import pandas as pd
book=pd.DataFrame([])
book['Book_Name']=Book_Name
book['Author_Name']=Author_Name
book['Genre']=Genre
book['Book_Review']=Book_Review

In [49]:
book

,Book_Name,Author_Name,Genre,Book_Review
0,Summerwater,Sarah Moss,Fiction / Literary Fiction,"Gabriel García Márquez once wrote, “Everyone h..."
1,Winterkeep,Kristin Cashore,YA / YA Fiction,Fans of Kristin Cashore’s previous books set i...
2,Amari and the Night Brothers,B. B. Alston,Children's / Middle Grade,Things are not going well for Amari Peters. He...
3,The Crooked Path to Abolition,James Oakes,Nonfiction / History / American History,The Crooked Path to Abolition is richly reward...
4,The Children's Train,"Viola Ardone, Clarissa Botsford",Fiction / Historical Fiction,The displacement of children is a vexing probl...
5,The Lion of Mars,Jennifer L. Holm,Children's / Middle Grade,"In the year 2091, millions of miles away from ..."
6,What Could Be Saved,Liese O'Halloran Schwarz,Fiction / Family Saga,At the heart of family novels there’s often a ...
7,Aftershocks,Nadia Owusu,Nonfiction / Biography & Memoir / Memoir,Aftershocks is an intimate work told in an ima...
8,★ Black Buck,Mateo Askaripour,Fiction / Satirical Fiction,"In his debut novel, Mateo Askaripour offers a ..."
9,The Lost Manuscript,"Cathy Bonidan, Emma Ramadan",Fiction / Popular Fiction,If you’re the type of reader who self-soothes ...

# Assignment no. 5- Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. ii) Top 10 ODI Batsmen in men along with the records of their team and rating. iii) Top 10 ODI bowlers along with the records of their team and rating.

# i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [50]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [51]:
soup=BeautifulSoup(page.content,'html.parser')

In [52]:
teams=[]
matches=[]
points=[]
ratings=[]

In [53]:
team=soup.find_all('span',class_='u-hide-phablet')
for i in team:
    teams.append(i.text)
    teams=teams[:10]

In [54]:
match_top_row=soup.find_all('td',class_='rankings-block__banner--matches')
    #I observed that top row style is different and remaining rows are different
for i in match_top_row:
    matches.append(i.text)
# For remaining 9 teams
match=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using even indices only for Matches. Will use odd ones for Points.
for i in range(0,len(match),2):
    matches.append(match[i].text)
    matches=matches[:10]

In [55]:
point_top_row=soup.find_all('td',class_='rankings-block__banner--points')
#Similarly, I observed that top row style is different and remaining rows are different
for i in point_top_row:
    points.append(i.text)
# For remaining 9 teams
point=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using odd indices only for Matches. Will use odd ones for Points.
for i in range(1,len(match),2):
    points.append(point[i].text)
    points=points[:10]

In [56]:
rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
#Similarly, I observed that top row style is different and remaining rows are different
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
# For remaining 9 teams
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]

In [57]:
import pandas as pd
teams_odi=pd.DataFrame({})
teams_odi['teams']=teams
teams_odi['matches']=matches
teams_odi['points']=points
teams_odi['ratings']=ratings

In [58]:
teams_odi

          teams matches points ratings
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108
5      Pakistan      35  3,490     100
6    Bangladesh      34  2,989      88
7     Sri Lanka      39  3,297      85
8   West Indies      43  3,285      76
9   Afghanistan      28  1,549      55

# ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [59]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [60]:
soup=BeautifulSoup(page.content,'html.parser')

In [61]:
players=[]
teams=[]
ratings=[]

In [62]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [63]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [64]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [65]:
import pandas as pd
batsmen_odi=pd.DataFrame({})
batsmen_odi['players']=players
batsmen_odi['teams']=teams
batsmen_odi['ratings']=ratings

In [66]:
batsmen_odi

               players teams ratings
0          Virat Kohli   IND     870
1         Rohit Sharma   IND     842
2           Babar Azam   PAK     837
3          Ross Taylor    NZ     818
4          Aaron Finch   AUS     791
5  Francois du Plessis    SA     790
6         David Warner   AUS     773
7      Kane Williamson    NZ     765
8      Quinton de Kock    SA     755
9       Jonny Bairstow   ENG     754

# iii) Top 10 ODI bowlers along with the records of their team and rating.

In [67]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [68]:
soup=BeautifulSoup(page.content,'html.parser')

In [69]:
players=[]
teams=[]
ratings=[]

In [70]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [71]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [72]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [73]:
import pandas as pd
bowlers_odi=pd.DataFrame({})
bowlers_odi['players']=players
bowlers_odi['teams']=teams
bowlers_odi['ratings']=ratings

In [74]:
bowlers_odi

            players teams ratings
0       Trent Boult    NZ     722
1  Mujeeb Ur Rahman   AFG     701
2    Jasprit Bumrah   IND     700
3      Chris Woakes   ENG     675
4     Kagiso Rabada    SA     665
5    Josh Hazlewood   AUS     660
6     Mohammad Amir   PAK     647
7       Pat Cummins   AUS     646
8        Matt Henry    NZ     641
9      Jofra Archer   ENG     637

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [75]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [76]:
soup=BeautifulSoup(page.content,'html.parser')

In [77]:
teams=[]
matches=[]
points=[]
ratings=[]

In [78]:
team=soup.find_all('span',class_='u-hide-phablet')
for i in team:
    teams.append(i.text)
    teams=teams[:10]

In [79]:
match_top_row=soup.find_all('td',class_='rankings-block__banner--matches')
    #I observed that top row style is different and remaining rows are different
for i in match_top_row:
    matches.append(i.text)
# For remaining 9 teams
match=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using even indices only for Matches. Will use odd ones for Points.
for i in range(0,len(match),2):
    matches.append(match[i].text)
    matches=matches[:10]

In [80]:
point_top_row=soup.find_all('td',class_='rankings-block__banner--points')
#Similarly, I observed that top row style is different and remaining rows are different
for i in point_top_row:
    points.append(i.text)
# For remaining 9 teams
point=soup.find_all('td',class_='table-body__cell u-center-text')
# I am using odd indices only for Matches. Will use odd ones for Points.
for i in range(1,len(match),2):
    points.append(point[i].text)
    points=points[:10]

In [81]:
rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
#Similarly, I observed that top row style is different and remaining rows are different
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
# For remaining 9 teams
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
for i in rating:
    ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]

In [82]:
import pandas as pd
women_teams_odi=pd.DataFrame({})
women_teams_odi['teams']=teams
women_teams_odi['matches']=matches
women_teams_odi['points']=points
women_teams_odi['ratings']=ratings

In [83]:
women_teams_odi

          teams matches points ratings
0     Australia      15  2,436     162
1         India      15  1,812     121
2       England      14  1,670     119
3  South Africa      16  1,713     107
4   New Zealand      15  1,384      92
5   West Indies      12  1,025      85
6      Pakistan      12    927      77
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

# ii) Top 10 women’s ODI players along with the records of their team and rating.

In [84]:
# As the question is ambiguous regarding women ODI players. Hence, I am assuming that it is batswomen.
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

In [85]:
soup=BeautifulSoup(page.content,'html.parser')

In [86]:
players=[]
teams=[]
ratings=[]

In [87]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [88]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [89]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [90]:
import pandas as pd
batswomen_odi=pd.DataFrame({})
batswomen_odi['players']=players
batswomen_odi['teams']=teams
batswomen_odi['ratings']=ratings

In [91]:
batswomen_odi

             players teams ratings
0        Meg Lanning   AUS     749
1    Stafanie Taylor    WI     746
2       Alyssa Healy   AUS     741
3    Smriti Mandhana   IND     732
4  Amy Satterthwaite    NZ     723
5     Tammy Beaumont   ENG     716
6       Ellyse Perry   AUS     691
7        Lizelle Lee    SA     690
8    Laura Wolvaardt    SA     689
9        Mithali Raj   IND     687

# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [92]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [93]:
soup=BeautifulSoup(page.content,'html.parser')

In [94]:
players=[]
teams=[]
ratings=[]

In [95]:
# First row
player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
#Next 9 rows
player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [96]:
# First Row
team=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    teams.append(i.text.replace('\n',''))
# Next 9 Rows
team=soup.find_all('span',class_='table-body__logo-text')
for i in team:
    teams.append(i.text.replace('\n',''))
    teams=teams[:10]

In [97]:
# First Row
rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
# Next 9 rows
rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [98]:
import pandas as pd
women_allrounders_odi=pd.DataFrame({})
women_allrounders_odi['players']=players
women_allrounders_odi['teams']=teams
women_allrounders_odi['ratings']=ratings

In [99]:
women_allrounders_odi

            players teams ratings
0      Ellyse Perry   AUS     460
1   Stafanie Taylor    WI     410
2    Marizanne Kapp    SA     389
3     Deepti Sharma   IND     359
4  Dane van Niekerk    SA     335
5     Jess Jonassen   AUS     301
6     Sophie Devine    NZ     289
7    Natalie Sciver   ENG     273
8     Shikha Pandey   IND     250
9   Katherine Brunt   ENG     232

# Assignment no. 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [132]:
page7=requests.get("https://www.amazon.in/Mobile-Phone-Under-20000-Rupees/s?k=Mobile+Phone+Under+20000+Rupees")

In [133]:
soup7=BeautifulSoup(page7.content,'html.parser')

In [134]:
products=[]
prices=[]
images=[]
ratings=[]

In [135]:
product=soup7.find_all('span',class_='a-size-medium a-color-base a-text-normal')
for i in product:
    products.append(i.text)

In [136]:
products=product[:15]

In [137]:
products

[<span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M01 (Black, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi Note 9 Pro (Interstellar Black, 4GB RAM, 64GB Storage)- Latest 8nm Snapdragon 720G &amp; Alexa Hands-Free | Upto 6 Months No Cost EMI</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi Note 9 Pro Max (Aurora Blue, 6GB RAM, 64GB Storage)- 64MP Quad Camera &amp; Latest 8nm Snapdragon 720G &amp; Alexa Hands-Free | Upto 12 Months No Cost EMI</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M01 Core (Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storage) – Dual Cameras &amp; 5,000 mAH Battery</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M01 Core (Black, 1GB RAM, 16GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal" dir="auto">Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)</span>]

In [138]:
price=soup7.find_all('span',class_='a-price-whole')
for i in price:
    prices.append(i.text)

In [139]:
prices=prices[:15]

In [140]:
image=soup7.find_all('div',class_='a-section aok-relative s-image-fixed-height')
for i in image:
    images.append(i.find('img'))

In [141]:
images=images[:15]

In [142]:
avg_ratings=[]
rating=soup7.find_all('span',class_='a-icon-alt')
for i in rating:
    ratings.append(i.text)
# Need to skip first four ratings as they belong to something else
ratings=ratings[4:]
# Extracting first 3 characters of rating
for j in ratings:
    avg_ratings.append(j[0:3])

In [143]:
ratings=rating[:15]

In [145]:
len(products)

15

In [146]:
len(prices)

15

In [147]:
len(images)

15

In [148]:
len(ratings)

15

In [150]:
import pandas as pd
amazon_phones=pd.DataFrame({})
amazon_phones['products']=products
amazon_phones['prices']=prices
amazon_phones['images']=images
amazon_phones['ratings']=ratings

In [151]:
amazon_phones

,products,prices,images,ratings
0,"[Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)]","8,999",[],[4 Stars & Up]
1,"[Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128G...","16,499",[],[3 Stars & Up]
2,"[Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fi...","5,000",[],[2 Stars & Up]
3,"[Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Stora...","7,499",[],[1 Star & Up]
4,"[Samsung Galaxy M01 (Black, 3GB RAM, 32GB Stor...","7,499",[],[4.0 out of 5 stars]
5,"[Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage)]","6,999",[],[4.2 out of 5 stars]
6,"[Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)]","6,999",[],[2.9 out of 5 stars]
7,"[Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)]","7,499",[],[3.9 out of 5 stars]
8,"[Redmi Note 9 Pro (Interstellar Black, 4GB RAM...","12,999",[],[3.9 out of 5 stars]
9,"[Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB...","5,999",[],[4.1 out of 5 stars]
10,"[Redmi Note 9 Pro Max (Aurora Blue, 6GB RAM, 6...","15,999",[],[4.1 out of 5 stars]
11,"[Samsung Galaxy M01 Core (Blue, 2GB RAM, 32GB ...","5,999",[],[4.1 out of 5 stars]
12,"[Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storag...","7,999",[],[4.2 out of 5 stars]
13,"[Samsung Galaxy M01 Core (Black, 1GB RAM, 16GB...","4,999",[],[3.4 out of 5 stars]
14,"[Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 6...","13,999",[],[4.1 out of 5 stars]

In [152]:
# Testing if image url is working
amazon_phones['images'][0]

<img alt="Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)" class="s-image" data-image-index="0" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" onload="window.uet &amp;&amp; uet('cf')" src="https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71uZrDPrsRL._AC_UY654_QL65_.jpg 3x"/>

# Assignment no. 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [153]:
page=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X80BdlUzbIU")

In [154]:
soup=BeautifulSoup(page.content,'html.parser')

In [155]:
periods=[]
short_descriptions=[]
temps=[]
descriptions=[]

In [156]:
period=soup.find_all('p',class_='period-name')
for i in period:
    periods.append(i.text)

In [157]:
periods=periods[:7]

In [158]:
short_descriptions=[]
short_description=soup.find_all('p',class_='short-desc')
for i in short_description:
    short_descriptions.append(i.text)

In [159]:
short_descriptions=short_descriptions[:7]

In [160]:
temp=soup.find_all('p',class_='temp')
for i in temp:
    temps.append(i.text)

In [161]:
temps=temps[:7]

In [162]:
description=soup.find_all('div',class_='col-sm-10 forecast-text')
for i in description:
    descriptions.append(i.text)
descriptions=descriptions[:7]

In [163]:
import pandas as pd
weather=pd.DataFrame({})
weather['periods']=periods
weather['short_descriptions']=short_descriptions
weather['temps']=temps
weather['descriptions']=descriptions

In [164]:
weather

,periods,short_descriptions,temps,descriptions
0,NOW until3:00pm Mon,High Surf Advisory,Low: 50 °F,"Partly cloudy, with a low around 50. West sout..."
1,Tonight,Partly Cloudy,High: 71 °F,"Sunny, with a high near 71. North wind 8 to 14..."
2,M.L.KingDay,Sunny,Low: 51 °F,"Mostly clear, with a low around 51. Breezy, wi..."
3,MondayNight,Clear thenMostly Clearand Breezy,High: 68 °F,"Sunny, with a high near 68. Breezy, with a nor..."
4,Tuesday,Sunny andBreezy thenSunny,Low: 46 °F,"Clear, with a low around 46. North northeast w..."
5,TuesdayNight,Clear,High: 63 °F,"Sunny, with a high near 63."
6,Wednesday,Sunny,Low: 45 °F,"Mostly clear, with a low around 45."

# Assignment no. 9. Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [165]:
page=requests.get("https://www.monster.com/jobs/search/?q=Software-Developer&where=india")

In [166]:
soup=BeautifulSoup(page.content,'html.parser')

In [167]:
jobs=[]
Days=[]
Company=[]
Location=[]

In [168]:
job=soup.find_all('h2',class_='title')
for i in job:
    jobs.append(i.text.replace('\r\n',''))

In [169]:
day=soup.find_all('div',class_='meta flex-col')
for i in day:
    Days.append(i.text.replace('\n','').replace('AppliedSaved',''))

In [170]:
comp=soup.find_all('span',class_='name')
# Even Indices are companies
for i in range(0,len(comp),2):
    Company.append(comp[i].text)

In [171]:
# Odd Indices are locations
for i in range(1,len(comp),2):
    Location.append(comp[i].text.replace('\r\n',''))

In [172]:
import pandas as pd
monster_jobs=pd.DataFrame({})
monster_jobs['jobs']=jobs
monster_jobs['Days']=Days
monster_jobs['Company']=Company
monster_jobs['Location']=Location

In [173]:
monster_jobs

,jobs,Days,Company,Location
0,Staff Software Engineer (L4),5 days ago,Twilio,"Bengaluru, Karnataka, KT"
1,Senior Software Engineer - Backend (GoLang/Jav...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
2,Software Engineer - .Net Core & Vue JS - Banga...,+30 days ago,MRI Software,"Bangalore, KT"
3,Honest Food Full Stack Developer (m/f/d),6 days ago,Delivery Hero,"Panjim, Goa, India"
4,Power BI developer - Remote India,9 days ago,Matchpoint Solutions,Remote
5,Senior Software Engineer - .Net core & Vue JS ...,+30 days ago,MRI Software,"Bangalore, KT"
6,Software Engineer II - Backend (GoLang) - Beng...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
7,Senior Software Engineer -Consumer Trust -P3,5 days ago,Twilio,"Bengaluru, Karnataka, KT"
8,Senior Software Engineer -Consumer Trust -P3,5 days ago,Twilio,"Bengaluru, Karnataka, KT"
9,"Software Engineer - .Net - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"
10,"Software Engineer I - C#.net - Bengaluru, Karn...",+30 days ago,EagleView Technologies,"Bengaluru, KT"
11,Staff Software Engineer - Consumer Trust -P4,13 days ago,Twilio,"Bengaluru, Karnataka, KT"
12,Senior Software Engineer - (Angular) - Bangalo...,+30 days ago,MRI Software,"Bangalore, KT"
13,"Senior Software Engineer - C#.net - Bengaluru,...",+30 days ago,EagleView Technologies,"Bengaluru, KT"
14,Senior Software Engineer - Consumer Trust -P3,28 days ago,Twilio,"Bengaluru, Karnataka, KT"
15,"Senior Software Engineer - (.Net) - Bangalore,...",+30 days ago,MRI Software,"Bangalore, KT"
16,Senior Software Engineer - Backend (GoLang/Ja...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
17,"Staff, Software Engineer (L4)",+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
18,"Software Engineer (Progress 4GL) - Bangalore, ...",+30 days ago,MRI Software,"Bangalore, KT"
19,Senior Software Engineer - Fullstack (GoLang/J...,+30 days ago,EagleView Technologies,"Bengaluru, KT"
20,Software Engineer (L3),+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
21,"Software Engineer - (.Net) - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"
22,"Senior Software Engineer - IW - Bengaluru, Kar...",+30 days ago,EagleView Technologies,"Bengaluru, KT"
23,"Technical Support Engineer 3 (Developer, EMEA)",+30 days ago,Twilio,"Bengaluru, Karnataka, KT"
24,"Senior LAMP Developer - Bangalore, Karnataka",+30 days ago,MRI Software,"Bangalore, KT"

# Assignment no. 10. Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [174]:
# Monster.com has no job listings for Data Scientist in New Delhi. Hence, I am scraping the job listings for Data Scientists in India.
# Note: Monster.com has only five listings for Data Scientists in India as per the observation from below mentioned website.
page=requests.get("https://www.monster.com/jobs/search/?q=data-science&where=india")

In [175]:
soup=BeautifulSoup(page.content,'html.parser')

In [176]:
jobs=[]
Days=[]
Company=[]
Location=[]

In [177]:
job=soup.find_all('h2',class_='title')
for i in job:
    jobs.append(i.text.replace('\r\n',''))

In [178]:
day=soup.find_all('div',class_='meta flex-col')
for i in day:
    Days.append(i.text.replace('\n','').replace('AppliedSaved',''))

In [179]:
comp=soup.find_all('span',class_='name')
# Even Indices are companies
for i in range(0,len(comp),2):
    Company.append(comp[i].text)

In [180]:
# Odd Indices are locations
for i in range(1,len(comp),2):
    Location.append(comp[i].text.replace('\r\n',''))

In [181]:
import pandas as pd
monster_data_scientist_jobs=pd.DataFrame({})
monster_data_scientist_jobs['jobs']=jobs
monster_data_scientist_jobs['Days']=Days
monster_data_scientist_jobs['Company']=Company
monster_data_scientist_jobs['Location']=Location

In [182]:
monster_data_scientist_jobs

,jobs,Days,Company,Location
0,"Lead Data Scientist - Bengaluru, Karnataka",+30 days ago,EagleView Technologies,"Bengaluru, KT"
1,"Senior Data Scientist - Bengaluru, Karnataka",+30 days ago,EagleView Technologies,"Bengaluru, KT"
2,Data Science Quality Assessment Engineer - Ben...,5 days ago,EagleView Technologies,"Bengaluru, KT"
3,"IT JOBS HYDERABAD,TELANAGANA,INDIA",+30 days ago,GENUINE IT JOBS HYDERABAD,"HYDERABAD,TELANGANA,INDIA, AS"
4,"Senior Engineering Manager, Machine Learning",+30 days ago,Twilio,"Bengaluru, Karnataka, KT"